
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env/
*.egg-info/
*.egg
*.sqlite3
venv/
__pycache__/
env/
.env
.venv/

environment.yml
*.conda


.ipynb_checkpoints/


data/raw/*
!data/raw/*.dvc


data/processed/*
!data/processed/*.dvc


data/interim/
data/external/


ai/models/*
!ai/models/*.dvc



ai/models/
*.pkl
*.joblib
*.h5
*.ckpt
*.onnx
*.pt
*.pth
*.json    # Only if it contains metrics, optional: track if needed
*.png     # Visualizations
*.html    # SHAP explainability reports


ai/logs/
*.log


ai/experiments/mlruns/
ai/experiments/results_summary.csv


*.tar
*.img
*.tmp


ai/security/credentials/
*.key
*.pem
*.json     # Only if contains credentials


*.swp
*.DS_Store
.vscode/
.idea/
