__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.sqlite3


.venv/
venv/
env/
*.env
.env/


environment.yml
*.conda

.ipynb_checkpoints/


data/raw/**
!data/raw/**/*.dvc

data/interim/**
!data/interim/**/*.dvc

data/processed/**
!data/processed/**/*.dvc

data/external/**
!data/external/**/*.dvc

!data/**/.gitignore

ai/models/**
!ai/models/**/*.dvc


*.pkl
*.joblib
*.h5
*.ckpt
*.onnx
*.pt
*.pth
*.tar
*.img
*.tmp

*.json   # (ignore only if used for metrics or logs)
*.png
*.html


ai/logs/
*.log
ai/experiments/mlruns/
ai/experiments/results_summary.csv


ai/security/credentials/
*.key
*.pem
*.json  # (only if used for credentials)

*.swp
*.DS_Store
.vscode/
.idea/
